.Rproj.user
.Rhistory
.RData
.Ruserdata

oto lab nums.csv
scripts/json/nuseds_ages_CN_2012-2021.json
outputs/R_OUT - NuSEDS Chinook Age results 2012-2021.xlsx
outputs/R_OUT - MRPHeadRecoveries_CHINOOK_*.csv
outputs/R_OUT - MRPHeadRecoveries_CHINOOK_*.xlsx
functions/getAgeDataMRP.R
functions/getCWTData.R
functions/getNusedsData.R
scripts/misc-helpers/CREST_termRR_groups.R    
scripts/misc-helpers/age_summary-EPRO_backup.R           
scripts/misc-helpers/CREST_termRR_groups.R
scripts/misc-helpers/CRESTcompile-BDWR.R