.Rproj.user
.Rhistory
.RData
.Ruserdata

oto lab nums.csv
scripts/functions/getAgeDataMRP.R
scripts/json/nuseds_ages_CN_2012-2021.json
outputs/R_OUT - NuSEDS Chinook Age results 2012-2021.xlsx
outputs/R_OUT - MPRHeadRecoveries_CHINOOK_2012-2023_LastUpdate_2024-02-02.csv